<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        syntaxCheck="true"
        strict="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
